@import "~bootstrap/scss/bootstrap";
@import 'node_modules/react-modal-video/scss/modal-video.scss';
@import "swiper/css/bundle"; 
@import '../../public/assets/scss/main.scss';

/* globals.scss */


// globals.scss

@font-face {
  font-family: 'Glacial Indifference';
  src: url('/fonts/GlacialIndifference-Regular.woff2') format('woff2'),
       url('/fonts/GlacialIndifference-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Glacial Indifference';
  src: url('/fonts/GlacialIndifference-Bold.woff2') format('woff2'),
       url('/fonts/GlacialIndifference-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-glacial: 'Glacial Indifference', sans-serif;
}

body {
  font-family: var(--font-glacial);
}